<div class="container">
    {{#if companyFound}}
    <div class="row">
        <div class="card col-sm-6" style="width: 24rem;">
            <canvas id="chart" width="400" height="400"></canvas>

        </div>

        <div>
            <h5 class="card-title">Company name:</h5>
            <h5>{{companyFound.name}}</h5>

            <p>Twitter: @{{companyFound.twitter_username}}</p>
            <p>Category: {{companyFound.category_code}}</p>
            <p>Number of employees: {{companyFound.number_of_employees}}</p>
            <p>Founded year: {{companyFound.founded_year}}</p>

            <p class="card-text">Description: {{companyFound.description}}</p>
            <a href="{{companyFound.homepage_url}}" class="btn btn-primary" target="_blank">Go Company Homepage</a>
            <a href="/" class="btn btn-primary">Find another Company</a>
        </div>
        <br />
        <p class="message">If you don't see any chart is because the company has not had funding rounds!</p>
    </div>
    {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/tableAnalytics.js"></script>